body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3749a0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"],
input[type="date"] {
  flex-grow: 1;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.due-date {
  font-size: 14px;
  color: #888;
  margin-left: 10px;
}
